
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

#search input,
#search select,
#search button {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#search input {
    width: 250px;
}

#search button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#search button:hover {
    background-color: #0056b3;
}


#movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.movie-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie-card h3 {
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.movie-card p {
    margin: 0;
    padding: 0 10px 10px;
    color: #555;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* Pagination */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: #0056b3;
}
